name: 'Quality Check'
on:
  push:
  pull_request:
    types: [opened, reopened, edited]
  workflow_call:
jobs:
  go-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          nix-package: nixpkgs#nixFlakes
      - name: Run Go tests
        run: nix build .#checks.x86_64-linux.tests
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          nix-package: nixpkgs#nixFlakes
      - name: Check formatting
        run: nix build .#checks.x86_64-linux.formatting
  go-test-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          nix-package: nixpkgs#nixFlakes
      - name: build
        run: nix build .
  image-test-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          nix-package: nixpkgs#nixFlakes
      - name: build
        run: nix build .#image
